includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	bootstrapFiles:
		- phpstan-bootstrap.php
	paths:
		- src
		- plugin.php
	excludePaths:
		analyse:
			- vendor/
			- node_modules (?)
