.naba-hdwp-leagues {
  margin: 2rem 0;
}

/* Panel & collapsible body */
.naba-hdwp-leagues .panel-body {
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  opacity: 1;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.naba-hdwp-leagues .panel-body:hover {
  border-left-color: #818181;
  border-right-color: #818181;
  border-bottom-color: #000;
}

.naba-hdwp-leagues .panel-body.collapsed {
  max-height: 0 !important;
  opacity: 0;
  padding: 0 15px;
}

/* Panel headers */
.naba-hdwp-leagues .panel-header {
  background: #B3B6BC;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  transition: background 0.2s;
  position: relative;
}

.naba-hdwp-leagues .panel-header:hover {
  background: #C9CBCF;
}

/* Arrow indicators */
.naba-hdwp-leagues .icon-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: auto;
}

.naba-hdwp-leagues .icon-arrow.collapsed {
  transform: rotate(-90deg);
}

/* Drag handle */
.naba-hdwp-leagues .drag-handle {
  cursor: grab;
  font-size: 18px;
  height: 18px;
  margin-right: 10px;
  color: #000;
  transition: color 0.2s;
}

.naba-hdwp-leagues .drag-handle:hover {
  color: #00a0d2;
}

/* Nested containers */
.naba-hdwp-leagues-list-container-header {
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 2px dashed #ddd;
  margin-top: 3rem;
}

.naba-hdwp-leagues-list-container {
  /*border-left: 2px dashed #ddd;*/
  padding: 1rem;
  margin-top: 1rem;
}

/* Remove button styling */
.naba-hdwp-leagues .remove-button {
  color: #dc3232;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.naba-hdwp-leagues .remove-button:hover {
  text-decoration: underline;
}

